.formContainer {
  background-color: #4267b2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #4267b2;
      font-weight: 700;
      font-size: 30px;
    }
    .title {
      color: #4267b2;
      font-size: 20px;
      margin-top: -10px;
      font-weight: 500;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 15px;
        padding-bottom: 5px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #4267b2;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        padding: 8px 5px 8px 5px;
        border-radius: 5px;
        background-color: #4267b2;
        color: white;
        border: none;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      :active {
        opacity: 50%;
      }
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #4267b2;
      }
      label img {
        height: 30px;
        width: 30px;
        margin: 10px 20px;
      }
    }
    p {
      color: rgb(148, 148, 148);
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #4267b2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  .container {
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    overflow: hidden;
    .sidebar {
      flex: 1;
      background-color: #001f5c;
    }
    .chat {
      flex: 2;
    }
  }
}
