.formContainer {
  background-color: #4267b2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #4267b2;
      font-weight: 700;
      font-size: 30px;
    }
    .title {
      color: #4267b2;
      font-size: 20px;
      margin-top: -10px;
      font-weight: 500;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 15px;
        padding-bottom: 5px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #4267b2;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        padding: 8px 5px 8px 5px;
        border-radius: 5px;
        background-color: #4267b2;
        color: white;
        border: none;
        cursor: pointer;
        transition: opacity 0.15s;
      }
      :active {
        opacity: 50%;
      }
      label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #4267b2;
      }
      label img {
        height: 30px;
        width: 30px;
        margin: 10px 20px;
      }
    }
    p {
      color: rgb(148, 148, 148);
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #4267b2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: white;
  .container {
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    overflow: hidden;
    .sidebar {
      flex: 1;
      background-color: #001f5c;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #000b20;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        font-weight: 500;
        .logo {
          font-weight: 500;
        }
        .user {
          display: flex;
          gap: 10px;
        }

        img {
          background-color: #4267b2;
          height: 26px;
          width: 26px;
          border-radius: 99999px;
          object-fit: cover;
        }
        button {
          background-color: #4267b2;
          color: white;
          font-size: 10px;
          border: none;
          cursor: pointer;
        }
      }
      .search {
        border-bottom: 1px solid gray;
        .searchForm {
          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;
            font-size: 14px;
            padding: 10px;
          }
          &::placeholder {
            color: rgb(179, 179, 179);
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 9999px;
          object-fit: cover;
        }
        .userChatInfo {
          span {
            font-size: 16px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: lightgray;
          }
        }
      }
    }
    .chat {
      flex: 2;
      .chatInfo {
        height: 50px;
        background-color: #001f5c;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgrey;
      }
      .chatIcons {
        display: flex;
        gap: 10px;
        img {
          height: 24px;
        }
      }
      .messages {
        background: #4267b2;
        padding: 10px;
        height: calc(100%-160px);
      }
      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
      }
    }
  }
}
